<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.CommentDao">
	<resultMap type="comment" id="commentMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="post_id" property="postId" />
		<result column="content" property="content" />
		<result column="is_deleted" property="isDeleted" />
		<result column="created_at" property="createdAt" />
	</resultMap>

	<insert id="insertComment" parameterType="comment">
		INSERT INTO comment
		VALUES
		(0, #{userId}, #{postId}, #{content}, false, now())
	</insert>

	<update id="updateComment" parameterType="comment">
		UPDATE comment
		SET
		content = #{content}
		WHERE id = #{id}
	</update>

	<update id="deleteComment" parameterType="int">
		UPDATE comment
		SET
		content = '삭제된 댓글입니다.',
		is_deleted = true
		WHERE id = #{id}
	</update>

	<delete id="deleteCommentByPostId" parameterType="int">
		DELETE FROM
		comment WHERE post_id = #{postId}
	</delete>

	<select id="selectOne" resultMap="commentMap"
		parameterType="int">
		SELECT id, user_id, post_id, content, is_deleted,
		date_format(created_at, '%Y년%m월%d일 %H시%i분%s초') as created_at
		FROM
		comment
		WHERE id = #{id}
	</select>

	<select id="selectListByPostId" resultMap="commentMap"
		parameterType="int">
		SELECT id, user_id, post_id, content, is_deleted,
		date_format(created_at, '%Y년%m월%d일 %H시%i분%s초') as created_at
		FROM
		comment
		WHERE post_id = #{postId}
		ORDER BY created_at DESC
	</select>
</mapper>