<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ImageDao">
	<resultMap type="image" id="imageMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="uri" property="uri" />
	</resultMap>

	<insert id="insertImage" parameterType="image">
		INSERT INTO image
		VALUES(0, #{userId}, #{name}, #{uri})
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="selectImage" resultMap="imageMap"
		parameterType="int">
		SELECT * FROM image WHERE user_id = #{userId}
	</select>
</mapper>