<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafit.model.dao.UserDao">
  	<resultMap type="board" id="boardMap">
  		<id column="id" property="id"/>
  		<result column="user_id" property="userId"/>
  		<result column="writer" property="writer"/>
  		<result column="title" property="title"/>
  		<result column="content" property="content"/>
  		<result column="view_cnt" property="viewCnt"/>
  		<result column="reg_date" property="regDate"/>
  		<result column="file_name" property="fileName"/>
  		<result column="file_uri" property="fileUri"/>
  	</resultMap>
  	
  	<insert id="insertBoard" parameterType="board">
  		INSERT INTO board VALUES
  		(0, #{userId}, #{writer}, #{title}, #{content}, 0, 
  		now(), #{fileName}, #{fileUri})
  	</insert>
  	<update id="updateBoard" parameterType="board">
  		UPDATE board 
  		SET 
  		title = #{title},
  		content = #{content},
  		view_cnt = #{viewCnt},
    	file_name = #{fileName},
  		file_uri = #{fileUri}
  		WHERE id = #{id}
  	</update>
  	<delete id="deleteBoard" parameterType="int">
  		DELETE FROM board WHERE id = #{id}
  	</delete>
  	
  	<select id="selectOne" resultMap="boardMap" parameterType="int">
  		SELECT id, user_id, title, writer, content, view_cnt, 
  		date_format(reg_date, '%Y년 %m월 %d일 %H시 %i분 %s초') as reg_date,
  		file_name, file_uri
  		FROM board
  		WHERE id = #{id}
  	</select>
  	
  	
  	<select id="selectList" resultMap="boardMap" parameterType="java.util.HashMap">
  		SELECT id, user_id, title, writer, content, view_cnt, 
  		date_format(reg_date, '%Y년 %m월 %d일 %H시 %i분 %s초') as reg_date,
  		file_name, file_uri
  		FROM board
  		<if test="mode == 1">
  			WHERE title LIKE CONCAT('%', #{keyword}, '%')
  		</if>
  		<if test="mode == 2">
  			WHERE content LIKE '%${keyword}%'
  		</if>
  		<if test="mode == 3">
  			WHERE title LIKE CONCAT('%', #{keyword}, '%')
  			OR content LIKE '%${keyword}%'
  		</if>
  	</select>
  </mapper>